<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.larntech.prestamospersonales">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/loucnger4"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pr_stamos"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrestamosPersonales">
        <activity
            android:name=".acercade"
            android:exported="true" />
        <activity
            android:name=".Simulador"
            android:exported="true" />
        <activity
            android:name=".Bienvenida"
            android:exported="true" />
        <activity
            android:name=".NuevoCliente"
            android:exported="true" />
        <activity
            android:name=".ClienteActivity"
            android:exported="true" />
        <activity
            android:name=".Principal"
            android:exported="true" />
        <activity
            android:name=".VentanaPrincipal"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>